@charset "UTF-8";

/* Propriedades que se aplicam a todos os elementos da página. */
* {
	/* Remove a margem externa de todos os lados do elemento. */
	margin: 0;

	/* Remove o espaçamento interno de todos os lados do elemento. */
	padding: 0;

	/* Inclui o preenchimento e a borda na largura e altura. */
	box-sizing: border-box;
}

body{

	font-family: "Montserrat", sans-serif;



}

/*comecou
*/

  
  
/*slider fim
*/


#openMenu, #closeMenu {

	
	/* Remove a borda. */
	border: none;

	/* Remove a cor de fundo. */
	background: none;

	/* Tamanho da fonte. */
	font-size: 30px;

	/* Espessura da forte. */
	font-weight: bold;

	/* Margem ao redor do elemento              */
	/* (superior, direito, inferior e esquerdo) */
	padding: 0px 5px 0px 5px;

	/* Muda o cursor do mouse para ponteiro.*/
	cursor: pointer;

	/* Oculta o elemento. */
	display: none;
}



/* Formatação comum entre os elementos. */
header, nav, main, footer {
	/* Cor do fundo. */
	

	/* Exibição flexível.                          */
	/* Torna o elemento um flex container          */
	/* e os seus elementos internos em flex-itens. */
	display: flex;

	/* Margem externa de todos os lados. */
	margin: 0;
}

header, main, footer{

	width: 100%;
    min-width: 320px;
    max-width: 1920px;
    margin: 0 auto;



}
/* Seletores para formatação individual. */

header {

	
	/* Altura do elemento. */
	height: 100px;

	/* Junção de flex-grow, flex-shrink e flex-basis.  */
	/* flex-grow – Habilidade de um flex item crescer. */
	/* flex-shrink - Capacidade de redução do item.    */
	/* flex-basis – Tamanho inicial do item.           */
	flex: 1 1 100vw;
}

.logo img{
	width: 80px;
	
}

.logo{

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #fff;
	width: 150px;
}



.slideshow {

	position: relative;
	width: 100%;
	height: 450px;
	
	overflow: hidden;
  }

.slideshow img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 1s ease-in-out;
  }
.slideshow img.active {
	opacity: 1;
}


nav {
	
	justify-content: flex-end;

	
	align-items: center;

	           
	flex: 1 1 200px;
}

nav a {
	/* Margem de todos os lados. */
	margin: 0 3%;

	
	font-size: 15pt;
	font-weight: bold;
}

main {
	
	/* height: 100vh; */
	

	flex: 20 1 500px; 
	

	
	flex-direction: column;
	margin: 0;
	
}



.container{

    display: flex;
    flex-direction: row;
    justify-content: center;
	align-content: center;
    align-items: center;
    text-align: center;
    width: 100%;    
    margin: 0 auto;
    


}


.container01, .container02{
    width: 100%;
    height: 300px;

    
}

.container01, .divTexto{
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
	align-content: center;
    align-items: center;
    text-align: center; 
    
}



.container p, .divTexto p{

	line-height: 25px;


}

.container h1, .divTexto h1{

	font-weight: bold;
	


}

.divTexto{

	height: 250px;


}



.container01{
	background-color: brown;

    color: #fff;

}


.container01 p{

	width: 90%;

}

.divTexto p{

	width: 90%;
}

.container02{
    background-color: blue;
}



footer {
	/* Altura do elemento. */
	height: 80px;
	background-color: darkgray;

	/* Junção de flex-grow, flex-shrink e flex-basis.  */
	/* flex-grow – Habilidade de um flex item crescer. */
	/* flex-shrink - Capacidade de redução do item.    */
	
	flex: 1 1 100vw;
}

a {
	/* Remove a decoração padrão do elemento. */
	text-decoration: none;

	/* Definir a cor da fonte para o padrão do elemento pai. */
	color: inherit;
}

/* Altera o estilo dos elementos para serem apresentados */ 
/* em telas menores que 717px. */
@media only screen and (max-width: 717px) {
	#openMenu, #closeMenu {
		/* Retorna a visibilidade padrão. */
		display: block;
	}

	#openMenu {
		/* Espaço a esquerda será preenchido automaticamente
		   colocando os itens a direita. */
		margin-left: auto;
	}

	#closeMenu {
		/* Torna a posição do elemento fixa. */
		position: fixed;

		/* Dispõe o elemento a 15px da esquerda. */
		right: 15px;

		/* Dispõe o elemento a 15px do topo. */
		top: 15px;
	}

	header {
		/* Ordem da visualização dos elementos. */
		order: 0;
	}

	nav {
		/* Ordem da visualização dos elementos. */
		order: 1;

		/* Torna a posição do elemento fixa. */
		position: fixed;

		/* Ocupa 100% da largura da tela de exibição. */
		width: 100vw;

		/* Ocupa 100% da altura da tela de exibição. */
		height: 100vh;

		/* Cor em RGB, mais transparência. */
		background: rgba(255, 255, 255, 0.8);

		/* Dispõe os itens em coluna. */
		flex-direction: column;

		/* Alinha os itens na horizontal. */
		align-items: center;

		/* Alinha os itens na vertical. */
		justify-content: center;

		/* Remove a margem externa de todos os lados do elemento. */
		margin: 0;

		/* Oculta o elemento. */
		display: none;

		/* Invisivel */
		opacity: 0;

		/* Velocidade de transição de um estado para outro. */
		transition: 0.3s;

		z-index: 1;
	}

	nav a {
		/* Margem de todos os lados. */
		margin: 3%;
	}

	main {
		/* Ordem da visualização dos elementos. */
		order: 2;

		/* Realizar a subtração de 100% da altura vertical menos a soma    */
		/* da altura dos elementos ( 300px ) com as suas margens ( 30px ). */
		/*height: calc(100vh - 330px);
		height: 100vh;*/
		
	}

	

	footer {
		/* Ordem da visualização dos elementos. */
		order: 3;
	}

	.logo img{
		width: 50px;
		
	}

	.logo{
		width: 100px;
	}

	.container{
		
		flex-direction: column;
	}

	.divTexto{

	height: 300px;

	}

	
	.container p, .divTexto p{

		line-height: 20px;
		width: 95%;
	
	
	}

	
	


}

	
